@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* styles.css */

*,*::before,*::after{
  box-sizing: border-box;
  font-family:'Inter',sans-serif;
  font-weight: 400;
  color: var();

}
body {
    --cl-1--:#fff;
    --cl-2--:#000;
    --cl-3--:#ff7426;
    --cl-4--:#e7fafe;
    --cl-5--:liner-gradient(180deg,rgba(231,249,253,0)0%,#e7f9fd 100%);
    --cl-6--:rgba(0,0,0,0.6);
    --cl-7--:rgba(0,0,0,0.05);
    background: var(--cl-1--);
    margin: 0;
   
  }
  img{
    max-width: 100%;
  }
  h1,h2,h5,h6,p{
    margin: 0;
  }
  a{
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .row{
    display: flex;
  }
  .container{
    max-width: 90%;
    margin: 0 auto;
  }
  .column{
    display: grid;
  }

  /* Style the top navigation bar */
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0.8rem;
    background-color: transparent; /* Replace with your gradient color */
    color: #333333; /* Text color for the top bar */
    /* border: solid red 2px; */
  }
  
  .top-nav button {
    background-color: transparent;
    border: solid yellow ;
    cursor: pointer;
  }
  
  /* Style the sign-in popup */
  /* #signin-popup { */
    /* Add styles to create the popup effect */
    /* Position the popup in the center of the screen */
  /* } */
  
  /* Style the left sidebar navigation */
  .left-nav {
    position: fixed;
    top: 0;
    left: 3rem;
    bottom: 0;
    width: 60px; /* Adjust the width as needed */
    background-color: transparent; /* Replace with your desired color */
    color:#92fe9d; /* Text color for the icons */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .left-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .left-nav li {
    padding: 3rem
  }
  .left-nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #92fe9d; /* Replace with the desired color for the bubbles */
    color: #a243e6a2; /* Text color for the icons */
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s ease; /* Add a smooth transition effect */
  }
  
  /* Add hover effect to the bubbles */
  .left-nav li a:hover {
    background-color: #5ad1f2; 
    color: #f08fa7;
    transform: scale(1.1) translateX(5px); 
  }
  
  
/* homepage section */

.homepage{
  position: relative;
  margin: 2em 0;
  fill: var(--cl-2--);
}
.homepage::after,.homepage::before{
  content:"" ;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 90%;
  width: 2.5%;
  background: var(--cl-4--);
}
.homepage::after{
  left: 0;
  border-radius: 0px 50px 50px 0px;
}
.homepage::before{
  right: 0;
  border-radius: 50px 0px 0px 50px;
}

.homepage .container{
  background: url(rec.img/homepg-bckgrnd.jpg) var(--cl-4--);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  overflow: hidden;
  border-radius: 50px;

}
.homepage-content{
  background: rgb(231,250,254, 0.9);
  padding: 2em;
}
 .recipe{
  font-weight: 600;
  font-size:14px;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background: var(--cl-1--);
  padding: 0.5em;
  max-width: 135px;
  box-shadow: 3px 3px 6px var(--cl-6--);
  border-radius: 30px;
 }
 .recipe img{
  max-width: 20px;
 }

 .homepage h1{
  font-weight:600;
  font-size: clamp(35px, 5vw, 65px );
  text-transform: capitalize;
  padding:0.5em 0;
 }

 p{
  font-size: 16px;
  color: var(--cl-6--);

 }
 .time{
  align-items:center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 2em 0;
 }
 .time .row{
  align-items: center;
  gap: 1em;

 }
 .homepage .time .row{
  background: var(--cl-7--);
  padding: 0.5em 1em;
  border-radius: 30px;
 }
 .time p, .profile p{
font-weight: 500;
font-size: 14px;
text-transform: capitalize;
 }
 .profile-btn{
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding-top:4em ;
 }
 .profile{
  align-items: center;
  gap: 1em;
 }
 .profile .p-img{
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  border-radius: 50%;
 }
 .profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
 .homepage h6{
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
 }
 .profile .column{
  gap: 0.5em;
  
 }