*{
    margin: 0;
    padding: 0;
}
/* styles.css */

/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to right, #eecda3, #df76a4); */
    /* background: linear-gradient(to right, #c2e59c, #64b3f4); */
    background: linear-gradient(to right, #92fe9d, #0ec4f7);
    /* background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); */
  }
  
  /* Style the top navigation bar */
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0.8rem;
    background-color: transparent; /* Replace with your gradient color */
    color: #333333; /* Text color for the top bar */
    /* border: solid red 2px; */
  }
  
  .top-nav button {
    background-color: transparent;
    border: solid yellow ;
    cursor: pointer;
  }
  
  /* Style the sign-in popup */
  #signin-popup {
    /* Add styles to create the popup effect */
    /* Position the popup in the center of the screen */
  }
  
  /* Style the left sidebar navigation */
  .left-nav {
    position: fixed;
    top: 0;
    left: 3rem;
    bottom: 0;
    width: 60px; /* Adjust the width as needed */
    background-color: transparent; /* Replace with your desired color */
    color:#92fe9d; /* Text color for the icons */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .left-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .left-nav li {
    padding: 3rem
  }
  .left-nav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #92fe9d; /* Replace with the desired color for the bubbles */
    color: #a243e6a2; /* Text color for the icons */
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s ease; /* Add a smooth transition effect */
  }
  
  /* Add hover effect to the bubbles */
  .left-nav li a:hover {
    background-color: #5ad1f2; 
    color: #f08fa7;
    transform: scale(1.1) translateX(5px); 
  }
  
  
  /* Style the background image */
  .welcome-container {
    position: absolute;
  top: 37%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 79rem;
  height:20rem;
  background-color: rgba(255, 255, 255, 0.7); 
  backdrop-filter: blur(50%); 
  overflow: hidden; 
  border-radius: 3rem;
  /* background: (rgba(82, 82, 82, 0.7), rgba(44, 44, 44, 0.7)), no-repeat; */
  }
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    /* background: (rgba(82, 82, 82, 0.7), rgba(44, 44, 44, 0.7)), no-repeat; */
  }
  
  .welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  
  }
  
  /* Style the search bar */
  .search-bar {
    /* text-align: center; */
    margin-top: 20px; 
  }
  
  .search-bar input {
    width: 23%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
top: 22rem;
left: 13rem;
  }
    
  /* slider */

  .slider {
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
    position: absolute;
    top: 26rem;
    right: 6rem;
  }
  


  .container {
    display: flex;
}

.container .card {
    flex: 1;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;


}

.card img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    border-radius: 1rem;

}

.card:hover {
    flex: 3;
}

.card:hover img {
    filter: none;
}

.card .catg {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #fff;
    font-size: 2rem;
    text-shadow: 2rem 2rem 4rem #111;
    font-weight: 100;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

}

.card .visit {
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    color: aliceblue;
    font-size: 2rem;
    font-weight: 50;
    text-decoration: none;
    display: none;
}

.card:hover .visit {
    display: block;
}

.catagory .heading span {
    color: #ff5722;
    font-size: 2.5rem;
}

.catagory .heading h1 {
    color: #fff;
    font-size: 4rem;
    padding-bottom: 1.5rem;
}


.about-msg{
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
  position: relative;
top: 20rem;
left: 13rem;
width: 20rem;
text-align: left;
font-weight: bolder;
}
  
  
  

